---
---

@font-face {
    font-family: 'KemcoPixel';
    src: url('../assets/fonts/KemcoPixelBold.woff2') format('woff2'),
        url('../assets/fonts/KemcoPixelBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

.page-header {
    background-color: #000000;
    background-image: none;
    height: 100vh;

    .project-name {
        text-align: left;
        font-family: KemcoPixel;
        top: 50%;
        position: absolute;
        transform: translateY(-50%);
        font-size: 90px;
    }
}

.main-content {
    display: none;
}

.site-footer {
    margin: 0;
    padding: 0;
    border: none;
}